nav {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav > ul#menu {
    list-style-type: none;
    display: flex;
    flex-grow: 0;
}

nav ul#menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav #logo_area {
    display: flex;
    align-items: center;
}

nav #logo_area span {
    font-weight: bolder;
}

nav #logo {
    width: 50px;
    height: 50px;
}

nav #search_form {
    width: 350px;
}

#search_bar {
    width: 200px;
}

main {
    color: black;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 80ch;
}

#team > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#team .employee {
    margin: 10px;
    padding: 5px;
    background-color: rgba(65, 63, 190, 0.75);
    color: white;
    text-align: center;
}

#team .employee .name {
    font-weight: bolder;
    font-size: large;
}

#team .employee .role {
    font-weight: bold;
}

#team .employee .description {
    font-size: small;
}

body {
    background-image: url("img/background.png");
}

.fa {
    padding: 20px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}